
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.main {
  flex-grow: 1;
  padding: 20px;
}

.aboutUs,
.ourMission,
.ourTeam,
.ourValues {
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph {
  margin-bottom: 20px;
}

.team {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.team li {
  margin-right: 20px;
}

.team img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.values {
  list-style: none;
  margin: 0;
  padding: 0;
}

.values li {
  margin-bottom: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
