
  .navbar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5%;
  display: flex;
  justify-content: space-between; /* Align items horizontally with space between */
  align-items: center;
  z-index: 1000; /* Ensure the navbar appears above other content */
  background: #acb6e5;
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
  background: linear-gradient(to right, #86fde8, #acb6e5);
  }
  
  .page-content {
    padding-top: 70px; /* Add padding-top to page content to prevent content from being covered by fixed navbar */
    background-color: rgb(144, 150, 212);

  }
  
  .logo{
   border-radius: 20px;
  }

  
r ul.navbar-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 2rem;
    padding: 0;
  }
  
  .navbar ul.navbar-nav li {
    margin-left: 10px;
  }
  
  /* Square-shaped Navbar links */
  .navbar ul.navbar-nav li a {
    text-decoration: none;
    color: rgb(2, 2, 2); /* Dark text color */
    padding: 10px 20px;
    border: none;
    border-radius: 0; /* Square shape */
    transition: background-color 0.3s ease; /* Smooth transition */
    font-size: 16px; /* Medium font size */
  }
  
  .navbar ul.navbar-nav li a:hover {
    background-color: #18f55a; /* Light yellow */
  }
  
  
  /* Navbar.css */
.navbar-nav {
  list-style-type: none;
  padding: 0;
}

.navbar-nav li {
  display: inline;
  margin-right: 10px;
}

.navbar-nav li a {
  text-decoration: none;
  color: black; /* Default color */
}

.navbar-nav li a.active {
  color: red; /* Color for active links */
}

button {
  width: 120px;
  height: 40px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.7;
}

button:hover {
  background: #315cfd;
  color: white;
  font-size: 1em;
}

.lin{
  align-items: end;
  display: flex;
  gap: 2rem;
}


/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 75px; /* Adjust based on your navbar height */
  left: 0;
  width: 250px;
  height: calc(100% - 60px); /* Adjust based on your navbar height */
  background-color: var(--sidebar-bg-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--sidebar-header-bg-color);
  border-bottom: 1px solid var(--sidebar-border-color);
}

.user-name {
  margin-left: 10px;
  font-weight: bold;
}

.sidebar-content {
  padding: 20px;
}


